{
    "openapi": "3.1.0",
    "x-stoplight": {
        "id": "vmkem8axekx2a"
    },
    "info": {
        "title": "OpenAPI",
        "version": "1.0",
        "summary": "OpenApi",
        "contact": {
            "name": "Altera Support",
            "url": "https://altera.co",
            "email": "wsparcie@altera.co"
        },
        "description": "",
        "license": {
            "url": "https://altera.co/regulamin",
            "name": "Terms of services for Altera.app"
        }
    },
    "servers": [
        {
            "url": "https://api.altera.co",
            "description": "Production endpoint (proxied)"
        }
    ],
    "paths": {
        "/sales": {
            "parameters": [],
            "get": {
                "summary": "List available invoices",
                "operationId": "get-sales-list",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "x-examples": {
                                        "Example 1": {
                                            "invoices": [
                                                {
                                                    "modelType": "INVOICE",
                                                    "readOnly": false,
                                                    "basicInformation": {
                                                        "invoiceId": 2070,
                                                        "invoiceType": "SALES",
                                                        "invoiceFormat": "%N/%M/%Y",
                                                        "invoiceNumber": "2/10/2022",
                                                        "year": 2022,
                                                        "month": 10,
                                                        "invoiceNumberInPeriod": 2,
                                                        "statusId": "SENT",
                                                        "isReceipt": true,
                                                        "isRelated": false,
                                                        "netPrice": 24600,
                                                        "grossPrice": 26568,
                                                        "currency": "CAD",
                                                        "exchangeRate": 3.4171,
                                                        "exchangeRateDate": "2022-06-08T00:00:00.000Z",
                                                        "vatPLN": 6724.85,
                                                        "issueDate": "2022-10-24T00:00:00.000Z",
                                                        "saleDate": "2022-10-24T00:00:00.000Z",
                                                        "uploadDate": "2022-10-24T06:49:16.000Z",
                                                        "relatedInvoicesIds": [],
                                                        "priceTypeId": "NET"
                                                    },
                                                    "contractor": {
                                                        "contractorName": "\"copy General\" sp. z o.o.",
                                                        "contractorId": 41,
                                                        "taxIdentificationNumber": "5260004434",
                                                        "country": "PL",
                                                        "contractorType": "COMPANY",
                                                        "contractorRegion": "POLAND",
                                                        "defaultCurrency": "CAD",
                                                        "city": "Warszawa",
                                                        "street": "ul. Usypiskowa",
                                                        "houseNumber": "1",
                                                        "flatNumber": "2",
                                                        "postCode": "02-386",
                                                        "email": "",
                                                        "phoneNumber": "",
                                                        "areaNumber": ""
                                                    },
                                                    "buyer": {
                                                        "contractorName": "\"copy General\" sp. z o.o.",
                                                        "contractorId": 41,
                                                        "taxIdentificationNumber": "5260004434",
                                                        "country": "PL",
                                                        "contractorType": "COMPANY",
                                                        "contractorRegion": "POLAND",
                                                        "defaultCurrency": "CAD",
                                                        "city": "Warszawa",
                                                        "street": "ul. Usypiskowa",
                                                        "houseNumber": "1",
                                                        "flatNumber": "2",
                                                        "postCode": "02-386",
                                                        "email": "",
                                                        "phoneNumber": "",
                                                        "areaNumber": ""
                                                    },
                                                    "seller": {
                                                        "taxIdentificationNumber": "9671391067",
                                                        "contractorName": "ITKO Łukasz Kowalski"
                                                    },
                                                    "payments": {
                                                        "paymentMethod": "TRANSFER",
                                                        "dueDate": "2022-11-07T00:00:00.000Z",
                                                        "isSplitPayment": true,
                                                        "isPaid": false,
                                                        "paidAmount": 0,
                                                        "bankAccountNumber": "13 1231 2312 3133 2131 1111 111"
                                                    },
                                                    "invoicePosition": [],
                                                    "costCenterPerItem": false,
                                                    "accounting": {
                                                        "vatProcedures": [],
                                                        "isSubjectToVat": true,
                                                        "activeVat": true
                                                    }
                                                },
                                                {
                                                    "modelType": "INVOICE",
                                                    "readOnly": false,
                                                    "basicInformation": {
                                                        "invoiceId": 2069,
                                                        "invoiceType": "SALES",
                                                        "invoiceFormat": "%N/%M/%Y",
                                                        "invoiceNumber": "1/10/2022",
                                                        "year": 2022,
                                                        "month": 10,
                                                        "invoiceNumberInPeriod": 1,
                                                        "statusId": "SENT",
                                                        "isReceipt": false,
                                                        "isRelated": false,
                                                        "netPrice": 1500,
                                                        "grossPrice": 1845,
                                                        "currency": "PLN",
                                                        "exchangeRate": 1,
                                                        "vatPLN": 345,
                                                        "issueDate": "2022-10-11T00:00:00.000Z",
                                                        "saleDate": "2022-10-11T00:00:00.000Z",
                                                        "uploadDate": "2022-10-11T06:40:16.000Z",
                                                        "relatedInvoicesIds": [],
                                                        "priceTypeId": "NET"
                                                    },
                                                    "contractor": {
                                                        "contractorName": "Test działania",
                                                        "contractorId": 34,
                                                        "taxIdentificationNumber": "1589651654",
                                                        "country": "PL",
                                                        "contractorType": "COMPANY",
                                                        "contractorRegion": "POLAND",
                                                        "defaultCurrency": "PLN",
                                                        "city": "Bydgoszcz",
                                                        "street": "Testowa",
                                                        "houseNumber": "10",
                                                        "flatNumber": "10",
                                                        "postCode": "62-156",
                                                        "email": "sdafdaf@dafadfafd.co",
                                                        "phoneNumber": "518 961 516",
                                                        "areaNumber": "+58"
                                                    },
                                                    "buyer": {
                                                        "contractorName": "Test działania",
                                                        "contractorId": 34,
                                                        "taxIdentificationNumber": "1589651654",
                                                        "country": "PL",
                                                        "contractorType": "COMPANY",
                                                        "contractorRegion": "POLAND",
                                                        "defaultCurrency": "PLN",
                                                        "city": "Bydgoszcz",
                                                        "street": "Testowa",
                                                        "houseNumber": "10",
                                                        "flatNumber": "10",
                                                        "postCode": "62-156",
                                                        "email": "sdafdaf@dafadfafd.co",
                                                        "phoneNumber": "518 961 516",
                                                        "areaNumber": "+58"
                                                    },
                                                    "seller": {
                                                        "taxIdentificationNumber": "9671391067",
                                                        "contractorName": "ITKO Łukasz Kowalski"
                                                    },
                                                    "payments": {
                                                        "paymentMethod": "TRANSFER",
                                                        "dueDate": "2022-10-25T00:00:00.000Z",
                                                        "isSplitPayment": false,
                                                        "isPaid": false,
                                                        "bankAccountNumber": "10 1010 1062 5565 1561 5615 1516"
                                                    },
                                                    "invoicePosition": [],
                                                    "costCenterPerItem": false,
                                                    "accounting": {
                                                        "vatProcedures": [],
                                                        "isSubjectToVat": true,
                                                        "activeVat": true
                                                    }
                                                },
                                                {
                                                    "modelType": "INVOICE",
                                                    "readOnly": false,
                                                    "basicInformation": {
                                                        "invoiceId": 17,
                                                        "invoiceType": "SALES",
                                                        "invoiceFormat": "FV %N/%M/%Y",
                                                        "invoiceNumber": "1/1/2022",
                                                        "year": 2022,
                                                        "month": 9,
                                                        "invoiceNumberInPeriod": 1,
                                                        "statusId": "SENT",
                                                        "isReceipt": false,
                                                        "isRelated": false,
                                                        "netPrice": 609,
                                                        "grossPrice": 749.07,
                                                        "currency": "PLN",
                                                        "exchangeRate": 1,
                                                        "vatPLN": 140.07,
                                                        "issueDate": "2022-09-21T00:00:00.000Z",
                                                        "saleDate": "2022-09-21T00:00:00.000Z",
                                                        "uploadDate": "2022-03-24T14:26:17.000Z",
                                                        "relatedInvoicesIds": [],
                                                        "priceTypeId": "NET"
                                                    },
                                                    "contractor": {
                                                        "contractorName": "Airgas, Inc.",
                                                        "contractorId": 42,
                                                        "taxIdentificationNumber": "9241211595",
                                                        "country": "PL",
                                                        "contractorType": "COMPANY",
                                                        "contractorRegion": "POLAND",
                                                        "defaultCurrency": "PLN",
                                                        "city": "Jandira",
                                                        "street": "Opdi Manor",
                                                        "houseNumber": "393",
                                                        "flatNumber": "714",
                                                        "postCode": "30-424",
                                                        "email": "team@rose.com,test@gmail.com",
                                                        "phoneNumber": "638207337",
                                                        "areaNumber": "+48"
                                                    },
                                                    "buyer": {
                                                        "contractorName": "Airgas, Inc.",
                                                        "contractorId": 42,
                                                        "taxIdentificationNumber": "9241211595",
                                                        "country": "PL",
                                                        "contractorType": "COMPANY",
                                                        "contractorRegion": "POLAND",
                                                        "defaultCurrency": "PLN",
                                                        "city": "Jandira",
                                                        "street": "Opdi Manor",
                                                        "houseNumber": "393",
                                                        "flatNumber": "714",
                                                        "postCode": "30-424",
                                                        "email": "team@rose.com,test@gmail.com",
                                                        "phoneNumber": "638207337",
                                                        "areaNumber": "+48"
                                                    },
                                                    "seller": {
                                                        "taxIdentificationNumber": "9671391067",
                                                        "contractorName": "ITKO Łukasz Kowalski"
                                                    },
                                                    "payments": {
                                                        "paymentMethod": "TRANSFER",
                                                        "dueDate": "2022-10-21T00:00:00.000Z",
                                                        "isSplitPayment": false,
                                                        "isPaid": true,
                                                        "bankAccountNumber": "11 1140 1231 2312 3123 1231 2312"
                                                    },
                                                    "invoicePosition": [],
                                                    "costCenterPerItem": false,
                                                    "projects": [
                                                        {
                                                            "tagId": 1,
                                                            "name": "Nowe BOA",
                                                            "enabled": true,
                                                            "color": 4283215696
                                                        }
                                                    ],
                                                    "accounting": {
                                                        "accountingDate": "2022-09-23T00:00:00.000Z",
                                                        "receiptDate": "2022-09-23T00:00:00.000Z",
                                                        "vatProcedures": [],
                                                        "registrationPlate": "",
                                                        "isSubjectToVat": true,
                                                        "activeVat": true,
                                                        "bufferOnly": false
                                                    }
                                                },
                                                {
                                                    "modelType": "INVOICE",
                                                    "readOnly": false,
                                                    "basicInformation": {
                                                        "invoiceId": 2061,
                                                        "invoiceType": "SALES",
                                                        "invoiceFormat": "%N/%M/%Y",
                                                        "invoiceNumber": "2/9/2022",
                                                        "year": 2022,
                                                        "month": 9,
                                                        "invoiceNumberInPeriod": 2,
                                                        "statusId": "SENT",
                                                        "isReceipt": false,
                                                        "isRelated": false,
                                                        "netPrice": 24600,
                                                        "grossPrice": 26568,
                                                        "currency": "PLN",
                                                        "exchangeRate": 1,
                                                        "vatPLN": 1968,
                                                        "issueDate": "2022-09-20T00:00:00.000Z",
                                                        "saleDate": "2022-09-20T00:00:00.000Z",
                                                        "uploadDate": "2022-09-20T10:08:19.000Z",
                                                        "relatedInvoicesIds": [],
                                                        "priceTypeId": "NET"
                                                    },
                                                    "contractor": {
                                                        "contractorName": "Jakub Lankiewicz",
                                                        "contractorId": 30,
                                                        "taxIdentificationNumber": "5542878782",
                                                        "country": "PL",
                                                        "contractorType": "COMPANY",
                                                        "contractorRegion": "POLAND",
                                                        "defaultCurrency": "PLN",
                                                        "city": "Niemcz",
                                                        "street": "ul. Alpejczyków",
                                                        "houseNumber": "13",
                                                        "flatNumber": "",
                                                        "postCode": "86-032",
                                                        "email": "kontakt@altera.co,l.kowalski@altera.co",
                                                        "phoneNumber": "784038003",
                                                        "areaNumber": "+48"
                                                    },
                                                    "buyer": {
                                                        "contractorName": "Jakub Lankiewicz",
                                                        "contractorId": 30,
                                                        "taxIdentificationNumber": "5542878782",
                                                        "country": "PL",
                                                        "contractorType": "COMPANY",
                                                        "contractorRegion": "POLAND",
                                                        "defaultCurrency": "PLN",
                                                        "city": "Niemcz",
                                                        "street": "ul. Alpejczyków",
                                                        "houseNumber": "13",
                                                        "flatNumber": "",
                                                        "postCode": "86-032",
                                                        "email": "kontakt@altera.co,l.kowalski@altera.co",
                                                        "phoneNumber": "784038003",
                                                        "areaNumber": "+48"
                                                    },
                                                    "seller": {
                                                        "taxIdentificationNumber": "9671391067",
                                                        "contractorName": "ITKO Łukasz Kowalski"
                                                    },
                                                    "payments": {
                                                        "paymentMethod": "TRANSFER",
                                                        "dueDate": "2022-10-10T00:00:00.000Z",
                                                        "isSplitPayment": true,
                                                        "isPaid": false,
                                                        "bankAccountNumber": "13 1231 2312 3133 2131 1111 111"
                                                    },
                                                    "invoicePosition": [],
                                                    "costCenterPerItem": false,
                                                    "accounting": {
                                                        "vatProcedures": [],
                                                        "isSubjectToVat": true,
                                                        "activeVat": true
                                                    },
                                                    "unreadMessagesCount": 3
                                                },
                                                {
                                                    "modelType": "INVOICE",
                                                    "readOnly": false,
                                                    "basicInformation": {
                                                        "invoiceId": 2060,
                                                        "invoiceType": "SALES",
                                                        "invoiceFormat": "%N/%M/%Y",
                                                        "invoiceNumber": "1/9/2022",
                                                        "year": 2022,
                                                        "month": 9,
                                                        "invoiceNumberInPeriod": 1,
                                                        "statusId": "ISSUED",
                                                        "isReceipt": false,
                                                        "isRelated": false,
                                                        "netPrice": 24600,
                                                        "grossPrice": 26568,
                                                        "currency": "PLN",
                                                        "exchangeRate": 1,
                                                        "vatPLN": 1968,
                                                        "issueDate": "2022-09-20T00:00:00.000Z",
                                                        "saleDate": "2022-09-20T00:00:00.000Z",
                                                        "uploadDate": "2022-09-20T10:07:48.000Z",
                                                        "relatedInvoicesIds": [],
                                                        "priceTypeId": "NET"
                                                    },
                                                    "contractor": {
                                                        "contractorName": "Jakub Lankiewicz",
                                                        "contractorId": 30,
                                                        "taxIdentificationNumber": "5542878782",
                                                        "country": "PL",
                                                        "contractorType": "COMPANY",
                                                        "contractorRegion": "POLAND",
                                                        "defaultCurrency": "PLN",
                                                        "city": "Niemcz",
                                                        "street": "ul. Alpejczyków",
                                                        "houseNumber": "13",
                                                        "flatNumber": "",
                                                        "postCode": "86-032",
                                                        "email": "kontakt@altera.co,l.kowalski@altera.co",
                                                        "phoneNumber": "784038003",
                                                        "areaNumber": "+48"
                                                    },
                                                    "buyer": {
                                                        "contractorName": "Jakub Lankiewicz",
                                                        "contractorId": 30,
                                                        "taxIdentificationNumber": "5542878782",
                                                        "country": "PL",
                                                        "contractorType": "COMPANY",
                                                        "contractorRegion": "POLAND",
                                                        "defaultCurrency": "PLN",
                                                        "city": "Niemcz",
                                                        "street": "ul. Alpejczyków",
                                                        "houseNumber": "13",
                                                        "flatNumber": "",
                                                        "postCode": "86-032",
                                                        "email": "kontakt@altera.co,l.kowalski@altera.co",
                                                        "phoneNumber": "784038003",
                                                        "areaNumber": "+48"
                                                    },
                                                    "seller": {
                                                        "taxIdentificationNumber": "9671391067",
                                                        "contractorName": "ITKO Łukasz Kowalski"
                                                    },
                                                    "payments": {
                                                        "paymentMethod": "TRANSFER",
                                                        "dueDate": "2022-10-04T00:00:00.000Z",
                                                        "isSplitPayment": true,
                                                        "isPaid": false,
                                                        "paidAmount": 0,
                                                        "bankAccountNumber": "13 1231 2312 3133 2131 1111 111"
                                                    },
                                                    "invoicePosition": [],
                                                    "costCenterPerItem": false,
                                                    "accounting": {
                                                        "vatProcedures": [],
                                                        "isSubjectToVat": true,
                                                        "activeVat": true
                                                    }
                                                },
                                                {
                                                    "modelType": "INVOICE",
                                                    "readOnly": false,
                                                    "basicInformation": {
                                                        "invoiceId": 2026,
                                                        "invoiceType": "SALES",
                                                        "invoiceFormat": "%N/%M/%Y",
                                                        "invoiceNumber": "1/5/2022",
                                                        "year": 2022,
                                                        "month": 5,
                                                        "invoiceNumberInPeriod": 1,
                                                        "statusId": "ISSUED",
                                                        "isReceipt": false,
                                                        "isRelated": false,
                                                        "netPrice": 86484600,
                                                        "grossPrice": 93403368,
                                                        "currency": "PLN",
                                                        "exchangeRate": 1,
                                                        "vatPLN": 6918768,
                                                        "issueDate": "2022-05-26T00:00:00.000Z",
                                                        "saleDate": "2022-05-26T00:00:00.000Z",
                                                        "uploadDate": "2022-05-26T10:09:25.000Z",
                                                        "relatedInvoicesIds": [],
                                                        "priceTypeId": "NET"
                                                    },
                                                    "contractor": {
                                                        "contractorName": "Alphamoon sp. z o.o.",
                                                        "contractorId": 23,
                                                        "taxIdentificationNumber": "8943079568",
                                                        "country": "PL",
                                                        "contractorType": "COMPANY",
                                                        "contractorRegion": "POLAND",
                                                        "defaultCurrency": "PLN",
                                                        "city": "Wrocław",
                                                        "street": "ul. Grabarska",
                                                        "houseNumber": "1",
                                                        "flatNumber": "",
                                                        "postCode": "50-079",
                                                        "email": "",
                                                        "phoneNumber": "",
                                                        "areaNumber": "+48"
                                                    },
                                                    "buyer": {
                                                        "contractorName": "Alphamoon sp. z o.o.",
                                                        "contractorId": 23,
                                                        "taxIdentificationNumber": "8943079568",
                                                        "country": "PL",
                                                        "contractorType": "COMPANY",
                                                        "contractorRegion": "POLAND",
                                                        "defaultCurrency": "PLN",
                                                        "city": "Wrocław",
                                                        "street": "ul. Grabarska",
                                                        "houseNumber": "1",
                                                        "flatNumber": "",
                                                        "postCode": "50-079",
                                                        "email": "",
                                                        "phoneNumber": "",
                                                        "areaNumber": "+48"
                                                    },
                                                    "seller": {
                                                        "taxIdentificationNumber": "9671391067",
                                                        "contractorName": "ITKO Łukasz Kowalski"
                                                    },
                                                    "payments": {
                                                        "paymentMethod": "TRANSFER",
                                                        "dueDate": "2022-06-09T00:00:00.000Z",
                                                        "isSplitPayment": false,
                                                        "isPaid": false,
                                                        "paidAmount": 0,
                                                        "bankAccountNumber": "13 1231 2312 3133 2131 1111 111"
                                                    },
                                                    "invoicePosition": [],
                                                    "costCenterPerItem": false,
                                                    "accounting": {
                                                        "vatProcedures": []
                                                    }
                                                },
                                                {
                                                    "modelType": "INVOICE",
                                                    "readOnly": true,
                                                    "basicInformation": {
                                                        "invoiceId": 1989,
                                                        "invoiceType": "INTERIM_FINAL",
                                                        "invoiceFormat": "ZK %N %M %Y",
                                                        "invoiceNumber": "ZK 1 5 2022",
                                                        "year": 2022,
                                                        "month": 5,
                                                        "invoiceNumberInPeriod": 1,
                                                        "statusId": "SENT",
                                                        "isReceipt": false,
                                                        "isRelated": false,
                                                        "netPrice": 400,
                                                        "grossPrice": 432,
                                                        "currency": "PLN",
                                                        "exchangeRate": 1,
                                                        "vatPLN": 32,
                                                        "issueDate": "2022-05-05T00:00:00.000Z",
                                                        "saleDate": "2022-05-05T00:00:00.000Z",
                                                        "uploadDate": "2022-05-05T12:40:22.000Z",
                                                        "relatedInvoicesIds": [
                                                            1988,
                                                            1987
                                                        ],
                                                        "priceTypeId": "NET"
                                                    },
                                                    "contractor": {
                                                        "contractorName": "Alphamoon sp. z o.o.",
                                                        "contractorId": 23,
                                                        "taxIdentificationNumber": "8943079568",
                                                        "country": "PL",
                                                        "contractorType": "COMPANY",
                                                        "contractorRegion": "POLAND",
                                                        "defaultCurrency": "PLN",
                                                        "city": "Gruba",
                                                        "street": "Fancy fancy",
                                                        "houseNumber": "t12312",
                                                        "flatNumber": "3412",
                                                        "postCode": "52-341",
                                                        "email": "affix@fix.pl",
                                                        "phoneNumber": "",
                                                        "areaNumber": "+48"
                                                    },
                                                    "buyer": {
                                                        "contractorName": "Alphamoon sp. z o.o.",
                                                        "contractorId": 23,
                                                        "taxIdentificationNumber": "8943079568",
                                                        "country": "PL",
                                                        "contractorType": "COMPANY",
                                                        "contractorRegion": "POLAND",
                                                        "defaultCurrency": "PLN",
                                                        "city": "Gruba",
                                                        "street": "Fancy fancy",
                                                        "houseNumber": "t12312",
                                                        "flatNumber": "3412",
                                                        "postCode": "52-341",
                                                        "email": "affix@fix.pl",
                                                        "phoneNumber": "",
                                                        "areaNumber": "+48"
                                                    },
                                                    "seller": {
                                                        "taxIdentificationNumber": "9671391067",
                                                        "contractorName": "ITKO Łukasz Kowalski"
                                                    },
                                                    "payments": {
                                                        "paymentMethod": "TRANSFER",
                                                        "dueDate": "2022-05-19T00:00:00.000Z",
                                                        "isSplitPayment": false,
                                                        "isPaid": false,
                                                        "paidAmount": 0,
                                                        "bankAccountNumber": "13 1231 2312 3133 2131 1111 111"
                                                    },
                                                    "invoicePosition": [],
                                                    "costCenterPerItem": false,
                                                    "accounting": {
                                                        "vatProcedures": [
                                                            "ALK-123",
                                                            "312"
                                                        ],
                                                        "isSubjectToVat": true,
                                                        "activeVat": true,
                                                        "bufferOnly": true
                                                    }
                                                },
                                                {
                                                    "modelType": "INVOICE",
                                                    "readOnly": false,
                                                    "basicInformation": {
                                                        "invoiceId": 1988,
                                                        "invoiceType": "INTERIM",
                                                        "invoiceFormat": "ZAL %N %M %Y",
                                                        "invoiceNumber": "ZAL 2 5 2022",
                                                        "year": 2022,
                                                        "month": 5,
                                                        "invoiceNumberInPeriod": 2,
                                                        "statusId": "SENT",
                                                        "isReceipt": false,
                                                        "isRelated": true,
                                                        "isRelatedTo": 1989,
                                                        "netPrice": 44000,
                                                        "grossPrice": 47520,
                                                        "currency": "PLN",
                                                        "exchangeRate": 1,
                                                        "vatPLN": 3520,
                                                        "issueDate": "2022-05-05T00:00:00.000Z",
                                                        "saleDate": "2022-05-05T00:00:00.000Z",
                                                        "uploadDate": "2022-05-05T12:15:25.000Z",
                                                        "relatedInvoicesIds": [],
                                                        "priceTypeId": "NET"
                                                    },
                                                    "contractor": {
                                                        "contractorName": "Alphamoon sp. z o.o.",
                                                        "contractorId": 23,
                                                        "taxIdentificationNumber": "8943079568",
                                                        "country": "PL",
                                                        "contractorType": "COMPANY",
                                                        "contractorRegion": "POLAND",
                                                        "defaultCurrency": "PLN",
                                                        "city": "Gruba",
                                                        "street": "Fancy fancy",
                                                        "houseNumber": "t12312",
                                                        "flatNumber": "3412",
                                                        "postCode": "52-341",
                                                        "email": "affix@fix.pl",
                                                        "phoneNumber": "",
                                                        "areaNumber": "+48"
                                                    },
                                                    "buyer": {
                                                        "contractorName": "Alphamoon sp. z o.o.",
                                                        "contractorId": 23,
                                                        "taxIdentificationNumber": "8943079568",
                                                        "country": "PL",
                                                        "contractorType": "COMPANY",
                                                        "contractorRegion": "POLAND",
                                                        "defaultCurrency": "PLN",
                                                        "city": "Gruba",
                                                        "street": "Fancy fancy",
                                                        "houseNumber": "t12312",
                                                        "flatNumber": "3412",
                                                        "postCode": "52-341",
                                                        "email": "affix@fix.pl",
                                                        "phoneNumber": "",
                                                        "areaNumber": "+48"
                                                    },
                                                    "seller": {
                                                        "taxIdentificationNumber": "9671391067",
                                                        "contractorName": "ITKO Łukasz Kowalski"
                                                    },
                                                    "payments": {
                                                        "paymentMethod": "TRANSFER",
                                                        "dueDate": "2022-05-19T00:00:00.000Z",
                                                        "isSplitPayment": false,
                                                        "isPaid": false,
                                                        "paidAmount": 0,
                                                        "bankAccountNumber": "13 1231 2312 3133 2131 1111 111"
                                                    },
                                                    "invoicePosition": [],
                                                    "costCenterPerItem": false,
                                                    "accounting": {
                                                        "vatProcedures": []
                                                    }
                                                },
                                                {
                                                    "modelType": "INVOICE",
                                                    "readOnly": false,
                                                    "basicInformation": {
                                                        "invoiceId": 1987,
                                                        "invoiceType": "INTERIM",
                                                        "invoiceFormat": "ZAL %N %M %Y",
                                                        "invoiceNumber": "ZAL 1 5 2022",
                                                        "year": 2022,
                                                        "month": 5,
                                                        "invoiceNumberInPeriod": 1,
                                                        "statusId": "SENT",
                                                        "isReceipt": false,
                                                        "isRelated": true,
                                                        "isRelatedTo": 1989,
                                                        "netPrice": 24600,
                                                        "grossPrice": 26568,
                                                        "currency": "PLN",
                                                        "exchangeRate": 1,
                                                        "vatPLN": 1968,
                                                        "issueDate": "2022-05-05T00:00:00.000Z",
                                                        "saleDate": "2022-05-05T00:00:00.000Z",
                                                        "uploadDate": "2022-05-05T12:03:52.000Z",
                                                        "relatedInvoicesIds": [],
                                                        "priceTypeId": "NET"
                                                    },
                                                    "contractor": {
                                                        "contractorName": "Alphamoon sp. z o.o.",
                                                        "contractorId": 23,
                                                        "taxIdentificationNumber": "8943079568",
                                                        "country": "PL",
                                                        "contractorType": "COMPANY",
                                                        "contractorRegion": "POLAND",
                                                        "defaultCurrency": "PLN",
                                                        "city": "Gruba",
                                                        "street": "Fancy fancy",
                                                        "houseNumber": "t12312",
                                                        "flatNumber": "3412",
                                                        "postCode": "52-341",
                                                        "email": "affix@fix.pl",
                                                        "phoneNumber": "",
                                                        "areaNumber": "+48"
                                                    },
                                                    "buyer": {
                                                        "contractorName": "Alphamoon sp. z o.o.",
                                                        "contractorId": 23,
                                                        "taxIdentificationNumber": "8943079568",
                                                        "country": "PL",
                                                        "contractorType": "COMPANY",
                                                        "contractorRegion": "POLAND",
                                                        "defaultCurrency": "PLN",
                                                        "city": "Gruba",
                                                        "street": "Fancy fancy",
                                                        "houseNumber": "t12312",
                                                        "flatNumber": "3412",
                                                        "postCode": "52-341",
                                                        "email": "affix@fix.pl",
                                                        "phoneNumber": "",
                                                        "areaNumber": "+48"
                                                    },
                                                    "seller": {
                                                        "taxIdentificationNumber": "9671391067",
                                                        "contractorName": "ITKO Łukasz Kowalski"
                                                    },
                                                    "payments": {
                                                        "paymentMethod": "TRANSFER",
                                                        "dueDate": "2022-05-19T00:00:00.000Z",
                                                        "isSplitPayment": false,
                                                        "isPaid": false,
                                                        "paidAmount": 0,
                                                        "bankAccountNumber": "13 1231 2312 3133 2131 1111 111"
                                                    },
                                                    "invoicePosition": [],
                                                    "costCenterPerItem": false,
                                                    "accounting": {
                                                        "vatProcedures": []
                                                    }
                                                },
                                                {
                                                    "modelType": "INVOICE",
                                                    "readOnly": false,
                                                    "basicInformation": {
                                                        "invoiceId": 1992,
                                                        "invoiceType": "CORRECTION",
                                                        "invoiceFormat": "KOR %N/%Y",
                                                        "invoiceNumber": "KOR 2/2022",
                                                        "year": 2022,
                                                        "month": 5,
                                                        "invoiceNumberInPeriod": 2,
                                                        "statusId": "ISSUED",
                                                        "isReceipt": false,
                                                        "isRelated": false,
                                                        "netPrice": 92,
                                                        "grossPrice": 159.36,
                                                        "currency": "PLN",
                                                        "exchangeRate": 1,
                                                        "vatPLN": 67.36,
                                                        "issueDate": "2022-05-05T00:00:00.000Z",
                                                        "saleDate": "2022-05-05T00:00:00.000Z",
                                                        "uploadDate": "2022-05-05T12:57:03.000Z",
                                                        "relatedInvoicesIds": [
                                                            23
                                                        ],
                                                        "priceTypeId": "NET"
                                                    },
                                                    "contractor": {
                                                        "contractorName": "Jakub Lankiewicz",
                                                        "contractorId": 30,
                                                        "taxIdentificationNumber": "5542878782",
                                                        "country": "PL",
                                                        "contractorType": "COMPANY",
                                                        "contractorRegion": "POLAND",
                                                        "defaultCurrency": "PLN",
                                                        "city": "Zielonka",
                                                        "street": "ul. Tropikalna",
                                                        "houseNumber": "7",
                                                        "flatNumber": "4",
                                                        "postCode": "86-005",
                                                        "email": "kontakt@altera.co",
                                                        "phoneNumber": "784038003",
                                                        "areaNumber": "+48"
                                                    },
                                                    "buyer": {
                                                        "contractorName": "Jakub Lankiewicz",
                                                        "contractorId": 30,
                                                        "taxIdentificationNumber": "5542878782",
                                                        "country": "PL",
                                                        "contractorType": "COMPANY",
                                                        "contractorRegion": "POLAND",
                                                        "defaultCurrency": "PLN",
                                                        "city": "Zielonka",
                                                        "street": "ul. Tropikalna",
                                                        "houseNumber": "7",
                                                        "flatNumber": "4",
                                                        "postCode": "86-005",
                                                        "email": "kontakt@altera.co",
                                                        "phoneNumber": "784038003",
                                                        "areaNumber": "+48"
                                                    },
                                                    "seller": {
                                                        "taxIdentificationNumber": "9671391067",
                                                        "contractorName": "ITKO Łukasz Kowalski"
                                                    },
                                                    "payments": {
                                                        "paymentMethod": "TRANSFER",
                                                        "dueDate": "2022-05-19T00:00:00.000Z",
                                                        "isSplitPayment": false,
                                                        "isPaid": false,
                                                        "paidAmount": 0,
                                                        "bankAccountNumber": "13 1231 2312 3133 2131 1111 111"
                                                    },
                                                    "invoicePosition": [],
                                                    "costCenterPerItem": false,
                                                    "projects": [
                                                        {
                                                            "tagId": 1,
                                                            "name": "Nowe BOA",
                                                            "enabled": true,
                                                            "color": 4283215696
                                                        },
                                                        {
                                                            "tagId": 2,
                                                            "name": "Super Altera",
                                                            "enabled": true,
                                                            "color": 4283080899
                                                        }
                                                    ],
                                                    "correctionReason": "Zmiana adresu, ilości godzin, stawki VAT",
                                                    "accounting": {
                                                        "vatProcedures": []
                                                    }
                                                }
                                            ],
                                            "pagesAmount": "2",
                                            "sumGross": "93671661.302800",
                                            "sumNet": "86730390.570000"
                                        }
                                    },
                                    "properties": {
                                        "result": {
                                            "type": "string",
                                            "x-stoplight": {
                                                "id": "kor3uoxt05dsr"
                                            },
                                            "default": "OK",
                                            "example": "OK"
                                        },
                                        "data": {
                                            "type": "object",
                                            "x-stoplight": {
                                                "id": "e3px74375kmho"
                                            },
                                            "properties": {
                                                "invoices": {
                                                    "type": "array",
                                                    "x-stoplight": {
                                                        "id": "ocnng2uxcafzj"
                                                    },
                                                    "items": {
                                                        "$ref": "#/components/schemas/Invoice",
                                                        "x-stoplight": {
                                                            "id": "230zo9wzs81bm"
                                                        }
                                                    }
                                                },
                                                "pagesAmount": {
                                                    "type": "string",
                                                    "x-stoplight": {
                                                        "id": "gtr46nxmtg8eo"
                                                    }
                                                },
                                                "sumGross": {
                                                    "type": "string",
                                                    "x-stoplight": {
                                                        "id": "ybp3vl8fvc81p"
                                                    }
                                                },
                                                "sumNet": {
                                                    "type": "string",
                                                    "x-stoplight": {
                                                        "id": "omw18kkmele90"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "Example 1": {
                                        "value": {
                                            "result": "OK",
                                            "data": {
                                                "invoices": [
                                                    {
                                                        "modelType": "INVOICE",
                                                        "readOnly": false,
                                                        "basicInformation": {
                                                            "invoiceId": 2070,
                                                            "invoiceType": "SALES",
                                                            "invoiceFormat": "%N/%M/%Y",
                                                            "invoiceNumber": "2/10/2022",
                                                            "year": 2022,
                                                            "month": 10,
                                                            "invoiceNumberInPeriod": 2,
                                                            "statusId": "SENT",
                                                            "isReceipt": true,
                                                            "isRelated": false,
                                                            "netPrice": 24600,
                                                            "grossPrice": 26568,
                                                            "currency": "CAD",
                                                            "exchangeRate": 3.4171,
                                                            "exchangeRateDate": "2022-06-08T00:00:00.000Z",
                                                            "vatPLN": 6724.85,
                                                            "issueDate": "2022-10-24T00:00:00.000Z",
                                                            "saleDate": "2022-10-24T00:00:00.000Z",
                                                            "uploadDate": "2022-10-24T06:49:16.000Z",
                                                            "relatedInvoicesIds": [],
                                                            "priceTypeId": "NET"
                                                        },
                                                        "contractor": {
                                                            "contractorName": "\"copy General\" sp. z o.o.",
                                                            "contractorId": 41,
                                                            "taxIdentificationNumber": "5260004434",
                                                            "country": "PL",
                                                            "contractorType": "COMPANY",
                                                            "contractorRegion": "POLAND",
                                                            "defaultCurrency": "CAD",
                                                            "city": "Warszawa",
                                                            "street": "ul. Usypiskowa",
                                                            "houseNumber": "1",
                                                            "flatNumber": "2",
                                                            "postCode": "02-386",
                                                            "email": "",
                                                            "phoneNumber": "",
                                                            "areaNumber": ""
                                                        },
                                                        "buyer": {
                                                            "contractorName": "\"copy General\" sp. z o.o.",
                                                            "contractorId": 41,
                                                            "taxIdentificationNumber": "5260004434",
                                                            "country": "PL",
                                                            "contractorType": "COMPANY",
                                                            "contractorRegion": "POLAND",
                                                            "defaultCurrency": "CAD",
                                                            "city": "Warszawa",
                                                            "street": "ul. Usypiskowa",
                                                            "houseNumber": "1",
                                                            "flatNumber": "2",
                                                            "postCode": "02-386",
                                                            "email": "",
                                                            "phoneNumber": "",
                                                            "areaNumber": ""
                                                        },
                                                        "seller": {
                                                            "taxIdentificationNumber": "9671391067",
                                                            "contractorName": "ITKO Łukasz Kowalski"
                                                        },
                                                        "payments": {
                                                            "paymentMethod": "TRANSFER",
                                                            "dueDate": "2022-11-07T00:00:00.000Z",
                                                            "isSplitPayment": true,
                                                            "isPaid": false,
                                                            "paidAmount": 0,
                                                            "bankAccountNumber": "13 1231 2312 3133 2131 1111 111"
                                                        },
                                                        "invoicePosition": [],
                                                        "costCenterPerItem": false,
                                                        "accounting": {
                                                            "vatProcedures": [],
                                                            "isSubjectToVat": true,
                                                            "activeVat": true
                                                        }
                                                    },
                                                    {
                                                        "modelType": "INVOICE",
                                                        "readOnly": false,
                                                        "basicInformation": {
                                                            "invoiceId": 2069,
                                                            "invoiceType": "SALES",
                                                            "invoiceFormat": "%N/%M/%Y",
                                                            "invoiceNumber": "1/10/2022",
                                                            "year": 2022,
                                                            "month": 10,
                                                            "invoiceNumberInPeriod": 1,
                                                            "statusId": "ISSUED",
                                                            "isReceipt": false,
                                                            "isRelated": false,
                                                            "netPrice": 1500,
                                                            "grossPrice": 1845,
                                                            "currency": "PLN",
                                                            "exchangeRate": 1,
                                                            "vatPLN": 345,
                                                            "issueDate": "2022-10-11T00:00:00.000Z",
                                                            "saleDate": "2022-10-11T00:00:00.000Z",
                                                            "uploadDate": "2022-10-11T06:40:16.000Z",
                                                            "relatedInvoicesIds": [],
                                                            "priceTypeId": "NET"
                                                        },
                                                        "contractor": {
                                                            "contractorName": "Test działania",
                                                            "contractorId": 34,
                                                            "taxIdentificationNumber": "1589651654",
                                                            "country": "PL",
                                                            "contractorType": "COMPANY",
                                                            "contractorRegion": "POLAND",
                                                            "defaultCurrency": "PLN",
                                                            "city": "Bydgoszcz",
                                                            "street": "Testowa",
                                                            "houseNumber": "10",
                                                            "flatNumber": "10",
                                                            "postCode": "62-156",
                                                            "email": "sdafdaf@dafadfafd.co",
                                                            "phoneNumber": "518 961 516",
                                                            "areaNumber": "+58"
                                                        },
                                                        "buyer": {
                                                            "contractorName": "Test działania",
                                                            "contractorId": 34,
                                                            "taxIdentificationNumber": "1589651654",
                                                            "country": "PL",
                                                            "contractorType": "COMPANY",
                                                            "contractorRegion": "POLAND",
                                                            "defaultCurrency": "PLN",
                                                            "city": "Bydgoszcz",
                                                            "street": "Testowa",
                                                            "houseNumber": "10",
                                                            "flatNumber": "10",
                                                            "postCode": "62-156",
                                                            "email": "sdafdaf@dafadfafd.co",
                                                            "phoneNumber": "518 961 516",
                                                            "areaNumber": "+58"
                                                        },
                                                        "seller": {
                                                            "taxIdentificationNumber": "9671391067",
                                                            "contractorName": "ITKO Łukasz Kowalski"
                                                        },
                                                        "payments": {
                                                            "paymentMethod": "TRANSFER",
                                                            "dueDate": "2022-10-25T00:00:00.000Z",
                                                            "isSplitPayment": false,
                                                            "isPaid": false,
                                                            "paidAmount": 0,
                                                            "bankAccountNumber": "10 1010 1062 5565 1561 5615 1516"
                                                        },
                                                        "invoicePosition": [],
                                                        "costCenterPerItem": false,
                                                        "accounting": {
                                                            "vatProcedures": [],
                                                            "isSubjectToVat": true,
                                                            "activeVat": true
                                                        }
                                                    },
                                                    {
                                                        "modelType": "INVOICE",
                                                        "readOnly": false,
                                                        "basicInformation": {
                                                            "invoiceId": 17,
                                                            "invoiceType": "SALES",
                                                            "invoiceFormat": "FV %N/%M/%Y",
                                                            "invoiceNumber": "1/1/2022",
                                                            "year": 2022,
                                                            "month": 9,
                                                            "invoiceNumberInPeriod": 1,
                                                            "statusId": "SENT",
                                                            "isReceipt": false,
                                                            "isRelated": false,
                                                            "netPrice": 609,
                                                            "grossPrice": 749.07,
                                                            "currency": "PLN",
                                                            "exchangeRate": 1,
                                                            "vatPLN": 140.07,
                                                            "issueDate": "2022-09-21T00:00:00.000Z",
                                                            "saleDate": "2022-09-21T00:00:00.000Z",
                                                            "uploadDate": "2022-03-24T14:26:17.000Z",
                                                            "relatedInvoicesIds": [],
                                                            "priceTypeId": "NET"
                                                        },
                                                        "contractor": {
                                                            "contractorName": "Airgas, Inc.",
                                                            "contractorId": 42,
                                                            "taxIdentificationNumber": "9241211595",
                                                            "country": "PL",
                                                            "contractorType": "COMPANY",
                                                            "contractorRegion": "POLAND",
                                                            "defaultCurrency": "PLN",
                                                            "city": "Jandira",
                                                            "street": "Opdi Manor",
                                                            "houseNumber": "393",
                                                            "flatNumber": "714",
                                                            "postCode": "30-424",
                                                            "email": "team@rose.com,test@gmail.com",
                                                            "phoneNumber": "638207337",
                                                            "areaNumber": "+48"
                                                        },
                                                        "buyer": {
                                                            "contractorName": "Airgas, Inc.",
                                                            "contractorId": 42,
                                                            "taxIdentificationNumber": "9241211595",
                                                            "country": "PL",
                                                            "contractorType": "COMPANY",
                                                            "contractorRegion": "POLAND",
                                                            "defaultCurrency": "PLN",
                                                            "city": "Jandira",
                                                            "street": "Opdi Manor",
                                                            "houseNumber": "393",
                                                            "flatNumber": "714",
                                                            "postCode": "30-424",
                                                            "email": "team@rose.com,test@gmail.com",
                                                            "phoneNumber": "638207337",
                                                            "areaNumber": "+48"
                                                        },
                                                        "seller": {
                                                            "taxIdentificationNumber": "9671391067",
                                                            "contractorName": "ITKO Łukasz Kowalski"
                                                        },
                                                        "payments": {
                                                            "paymentMethod": "TRANSFER",
                                                            "dueDate": "2022-10-21T00:00:00.000Z",
                                                            "isSplitPayment": false,
                                                            "isPaid": true,
                                                            "bankAccountNumber": "11 1140 1231 2312 3123 1231 2312"
                                                        },
                                                        "invoicePosition": [],
                                                        "costCenterPerItem": false,
                                                        "projects": [
                                                            {
                                                                "tagId": 1,
                                                                "name": "Nowe BOA",
                                                                "enabled": true,
                                                                "color": 4283215696
                                                            }
                                                        ],
                                                        "accounting": {
                                                            "accountingDate": "2022-09-23T00:00:00.000Z",
                                                            "receiptDate": "2022-09-23T00:00:00.000Z",
                                                            "vatProcedures": [],
                                                            "registrationPlate": "",
                                                            "isSubjectToVat": true,
                                                            "activeVat": true,
                                                            "bufferOnly": false
                                                        }
                                                    },
                                                    {
                                                        "modelType": "INVOICE",
                                                        "readOnly": false,
                                                        "basicInformation": {
                                                            "invoiceId": 2061,
                                                            "invoiceType": "SALES",
                                                            "invoiceFormat": "%N/%M/%Y",
                                                            "invoiceNumber": "2/9/2022",
                                                            "year": 2022,
                                                            "month": 9,
                                                            "invoiceNumberInPeriod": 2,
                                                            "statusId": "SENT",
                                                            "isReceipt": false,
                                                            "isRelated": false,
                                                            "netPrice": 24600,
                                                            "grossPrice": 26568,
                                                            "currency": "PLN",
                                                            "exchangeRate": 1,
                                                            "vatPLN": 1968,
                                                            "issueDate": "2022-09-20T00:00:00.000Z",
                                                            "saleDate": "2022-09-20T00:00:00.000Z",
                                                            "uploadDate": "2022-09-20T10:08:19.000Z",
                                                            "relatedInvoicesIds": [],
                                                            "priceTypeId": "NET"
                                                        },
                                                        "contractor": {
                                                            "contractorName": "Jakub Lankiewicz",
                                                            "contractorId": 30,
                                                            "taxIdentificationNumber": "5542878782",
                                                            "country": "PL",
                                                            "contractorType": "COMPANY",
                                                            "contractorRegion": "POLAND",
                                                            "defaultCurrency": "PLN",
                                                            "city": "Niemcz",
                                                            "street": "ul. Alpejczyków",
                                                            "houseNumber": "13",
                                                            "flatNumber": "",
                                                            "postCode": "86-032",
                                                            "email": "kontakt@altera.co,l.kowalski@altera.co",
                                                            "phoneNumber": "784038003",
                                                            "areaNumber": "+48"
                                                        },
                                                        "buyer": {
                                                            "contractorName": "Jakub Lankiewicz",
                                                            "contractorId": 30,
                                                            "taxIdentificationNumber": "5542878782",
                                                            "country": "PL",
                                                            "contractorType": "COMPANY",
                                                            "contractorRegion": "POLAND",
                                                            "defaultCurrency": "PLN",
                                                            "city": "Niemcz",
                                                            "street": "ul. Alpejczyków",
                                                            "houseNumber": "13",
                                                            "flatNumber": "",
                                                            "postCode": "86-032",
                                                            "email": "kontakt@altera.co,l.kowalski@altera.co",
                                                            "phoneNumber": "784038003",
                                                            "areaNumber": "+48"
                                                        },
                                                        "seller": {
                                                            "taxIdentificationNumber": "9671391067",
                                                            "contractorName": "ITKO Łukasz Kowalski"
                                                        },
                                                        "payments": {
                                                            "paymentMethod": "TRANSFER",
                                                            "dueDate": "2022-10-10T00:00:00.000Z",
                                                            "isSplitPayment": true,
                                                            "isPaid": false,
                                                            "bankAccountNumber": "13 1231 2312 3133 2131 1111 111"
                                                        },
                                                        "invoicePosition": [],
                                                        "costCenterPerItem": false,
                                                        "accounting": {
                                                            "vatProcedures": [],
                                                            "isSubjectToVat": true,
                                                            "activeVat": true
                                                        },
                                                        "unreadMessagesCount": 3
                                                    },
                                                    {
                                                        "modelType": "INVOICE",
                                                        "readOnly": false,
                                                        "basicInformation": {
                                                            "invoiceId": 2060,
                                                            "invoiceType": "SALES",
                                                            "invoiceFormat": "%N/%M/%Y",
                                                            "invoiceNumber": "1/9/2022",
                                                            "year": 2022,
                                                            "month": 9,
                                                            "invoiceNumberInPeriod": 1,
                                                            "statusId": "ISSUED",
                                                            "isReceipt": false,
                                                            "isRelated": false,
                                                            "netPrice": 24600,
                                                            "grossPrice": 26568,
                                                            "currency": "PLN",
                                                            "exchangeRate": 1,
                                                            "vatPLN": 1968,
                                                            "issueDate": "2022-09-20T00:00:00.000Z",
                                                            "saleDate": "2022-09-20T00:00:00.000Z",
                                                            "uploadDate": "2022-09-20T10:07:48.000Z",
                                                            "relatedInvoicesIds": [],
                                                            "priceTypeId": "NET"
                                                        },
                                                        "contractor": {
                                                            "contractorName": "Jakub Lankiewicz",
                                                            "contractorId": 30,
                                                            "taxIdentificationNumber": "5542878782",
                                                            "country": "PL",
                                                            "contractorType": "COMPANY",
                                                            "contractorRegion": "POLAND",
                                                            "defaultCurrency": "PLN",
                                                            "city": "Niemcz",
                                                            "street": "ul. Alpejczyków",
                                                            "houseNumber": "13",
                                                            "flatNumber": "",
                                                            "postCode": "86-032",
                                                            "email": "kontakt@altera.co,l.kowalski@altera.co",
                                                            "phoneNumber": "784038003",
                                                            "areaNumber": "+48"
                                                        },
                                                        "buyer": {
                                                            "contractorName": "Jakub Lankiewicz",
                                                            "contractorId": 30,
                                                            "taxIdentificationNumber": "5542878782",
                                                            "country": "PL",
                                                            "contractorType": "COMPANY",
                                                            "contractorRegion": "POLAND",
                                                            "defaultCurrency": "PLN",
                                                            "city": "Niemcz",
                                                            "street": "ul. Alpejczyków",
                                                            "houseNumber": "13",
                                                            "flatNumber": "",
                                                            "postCode": "86-032",
                                                            "email": "kontakt@altera.co,l.kowalski@altera.co",
                                                            "phoneNumber": "784038003",
[...]
